// Define variables for your color scheme

// For example:
$yellow: #f6b333;
$orange: #e7441f;
$red: #d6211f;
$burgundy: #931e1e;
$purple: #452a40;
$blue: #143442;
$black: #1d1e26;
$background-black: #0B1014;
$dark-gray: #2c2e3a;
$medium-gray: #5f6070;
$gray: #8e8e8e;
$light-gray: #bebebe;
$white-gray: #f1f1f1;



