.participants-box {
  padding-right: 8rem;
  padding-left: 8rem;
  color: $white-gray;
  text-align: center;
  .grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
  h1 {
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  p {
    font-weight: bold;
    color: $light-gray;
  }
  h3 {
    font-weight: lighter;
  }
  .event-description {
    line-height: 2rem;
    font-weight: 400;
  }
}

.setlist-box {
  padding: 1rem 2rem;
  border: .5px $gray solid;
  color: $white-gray;
  h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }
  img {
    width: 16rem;
    margin-bottom: .6rem;
  }
  h3 {
    color: $white-gray;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;
  }

  .song-active {
    color: $yellow;
  }

  p {
    margin-bottom: 1.5rem;
    color: $light-gray;
  }
}
