<nav class="navbar navbar-1000 navbar-expand-lg">
  <%= image_tag "logo.png" %>

  <button class="navbar-toggler toggle-icon" type="button" data-toggle="collapse" data-target="#main_nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav ml-5">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="dropdown">ABOUT US</a>
        <ul class="dropdown-menu">
          <ul class="list-inline mr-auto">
            <li><a href="#">IL PROGETTO</a></li>
            <li><a href="#">LA STORIA</a></li>
            <li><a href="#">IL TEAM</a></li>
            <li><a href="#">MISSION E VISION</a></li>
            <li><a href="#">I MILLE</a></li>
          </ul>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="dropdown">DATES</a>
        <ul class="dropdown-menu">
          <ul class="list-inline">
            <li><a href="#">NEW DATES</a></li>
            <li><a href="#">PAST DATES</a></li>
          </ul>
        </ul>
      </li>
      <li class="nav-item"> <a class="nav-link" href="#">FORMATS</a> </li>
      <li class="nav-item"> <a class="nav-link" href="#">MULTIMEDIA</a></li>
    </ul>
    <ul class="navbar-nav ml-auto justify-content-end">
      <li class="nav-item mx-2 ml-auto"> <btn class="nav-link btn btn-outline-primary btn-1000" href="#">LOGIN</btn> </li>
    </ul>
  </div>

  <ul class="navbar-nav ml-auto ">
    <li class="nav-item mx-2"> <btn class="nav-link btn btn-success btn-1000" href="#">SIGN UP</btn></li>
  </ul>
</nav>
