<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1590026821754-7075cf10626e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container d-flex justify-content-between">
    <div class="info-box">
      <p> <%= link_to 'Past dates', root_path %> > <%= link_to 'Firenze2018', root_path %> </p>
      <h3 class="event-type">I MILLE IN CONCERTO</h3>
      <h1 class="event-name">STADIO ARTEMIO FRANCHI</h1>
      <p class="event-city">FIRENZE</p>
    </div>
    <div class="mt-auto date-box">
      <h1 class="event-year">2018</h1>
      <h1 class="event-date">21 LUGLIO</h1>
    </div>
  </div>
</div>
<br>
<br>
<div class="container-pages d-flex justify-content-between">
  <div class="participants-box">
    <p class="event-description">During the 3 days of rehearsal, musicians and spectators spent their time together into the Rock Village with live performances of The Thousand, games, foodtrucks and much more until the concert held on Saturday night.</p>
    <h1>ON THE STAGE</h1>
    <div class="grid">
      <div>
        <img class="avatar-xl" src="https://images.unsplash.com/photo-1521198022873-af0f772bf653?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YXJ0aXN0JTIwcHJvZmlsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        <h3>Beppe Vessicchio</h3>
        <p>DIRECTOR</p>
      </div>
      <div>
        <img class="avatar-xl" src="https://images.unsplash.com/photo-1521198022873-af0f772bf653?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YXJ0aXN0JTIwcHJvZmlsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        <h3>Beppe Vessicchio</h3>
        <p>DIRECTOR</p>
      </div>
      <div>
        <img class="avatar-xl" src="https://images.unsplash.com/photo-1521198022873-af0f772bf653?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YXJ0aXN0JTIwcHJvZmlsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        <h3>Beppe Vessicchio</h3>
        <p>DIRECTOR</p>
      </div>
      <div>
        <img class="avatar-xl" src="https://images.unsplash.com/photo-1521198022873-af0f772bf653?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YXJ0aXN0JTIwcHJvZmlsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        <h3>Beppe Vessicchio</h3>
        <p>DIRECTOR</p>
      </div>
    </div>
    <div class="mt-5">
      <h3>ENTRA ANCHE TU NEI MILLE</h3>
      <button class="btn btn-success btn-1000 btn-long mt-2">REGISTRATI</button>
    </div>
  </div>
  <div class="setlist-box">
    <h2>SETLIST</h2>
    <div>
      <img src="https://images.unsplash.com/photo-1579883238479-0397fab0e4ef?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
      <h3 class="song-active">Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <img src="https://images.unsplash.com/photo-1579883238479-0397fab0e4ef?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
      <h3 class="song-active">Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <h3>Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <h3>Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <h3>Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <h3>Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <h3>Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <h3>Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <h3>Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <h3>Celebrity Skin</h3>
      <p>Hole</p>
    </div>
    <div>
      <h3>Celebrity Skin</h3>
      <p>Hole</p>
    </div>
  </div>
</div>
