<div class="banner banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563841930606-67e2bce48b78?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDB8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1 class="page-title">WE ARE THE BIGGEST ROCK BAND ON EARTH</h1>
    <p class="page-description">We put on gigs where 1000 musicians rock the same song at the same time.</p>
  </div>
</div>
<div class="container-pages">
  <div class="project-boxes">
    <div class="project-card">
      <img src="https://images.unsplash.com/photo-1604244884173-5aafd8a9bc68?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
      <p>Sometimes we do it with 100 musicians... and it still rocks!</p>
    </div>
    <div class="project-card">
      <img class="down" src="https://images.unsplash.com/photo-1604244884173-5aafd8a9bc68?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
      <p>Sometimes we do it with 100 musicians... and it still rocks!</p>
    </div>
  </div>
  <div class="project-boxes d-flex d-sm-inline-flex">
    <div class="project-card">
      <img src="https://images.unsplash.com/photo-1604244884173-5aafd8a9bc68?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
      <p>Sometimes we do it with 100 musicians... and it still rocks!</p>
    </div>
    <div class="project-card">
      <img class="down" src="https://images.unsplash.com/photo-1604244884173-5aafd8a9bc68?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
      <p>Sometimes we do it with 100 musicians... and it still rocks!</p>
    </div>
  </div>
  <div class="project-boxes d-flex d-sm-inline-flex">
    <div class="project-card">
      <img src="https://images.unsplash.com/photo-1604244884173-5aafd8a9bc68?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
      <p>Sometimes we do it with 100 musicians... and it still rocks!</p>
    </div>
    <div class="project-card">
      <img class="down" src="https://images.unsplash.com/photo-1604244884173-5aafd8a9bc68?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
      <p>Sometimes we do it with 100 musicians... and it still rocks!</p>
    </div>
  </div>
</div>
<div class="press-container d-flex justify-content-between mt-5">
  <i class="far fa-arrow-alt-circle-left"></i>
  <div>
    <p>"A monstorous idea. A gigantic band. The leviathon of rock 'n roll"</p>
    <h5>LE MONDE</h5>
  </div>
  <i class="far fa-arrow-alt-circle-right"></i>
</div>
<div class="container-pages">
  <h1 class="section-title-red">AWARDS</h1>
  <div class="d-flex justify-content-center">
  <div class="grid-awards">
      <div>
        <img src="https://images.unsplash.com/photo-1578269174936-2709b6aeb913?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YXdhcmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        <p>Coca Cola Onstage Awards</p>
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1578269174936-2709b6aeb913?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YXdhcmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        <p>Coca Cola Onstage Awards</p>
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1578269174936-2709b6aeb913?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YXdhcmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        <p>Coca Cola Onstage Awards</p>
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1578269174936-2709b6aeb913?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YXdhcmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        <p>Coca Cola Onstage Awards</p>
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1578269174936-2709b6aeb913?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YXdhcmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        <p>Coca Cola Onstage Awards</p>
      </div>
    </div>
  </div>
</div>
