.banner {
  background-size: cover;
  background-position: center;
  justify-content: start;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  a {
    text-decoration: underline;
    color: $white-gray;
  }

  .date-box {
    width: 30%;
  }

  .info-box {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

.banner-small {
  padding: 5rem 0;

  .container {
    width: 50%;
    margin-left: 5rem;
  }
}
