.btn-1000 {
  width: 7rem;
  font-family: 'Bebas Neue';
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size:  1.7rem;
  line-height: 1.5rem;
  padding-left: 2rem !important;
  padding-right: .3rem !important;
}

.btn-long {
  width: auto;
}
